nav{
    width: 100vw;
    height: 5rem;
    position: fixed;
    display: grid;
    place-items: center;
    z-index: 10;
    transition: all 400ms ease;
    // box-shadow: 0 1rem 1rem rgba($black-color, 0.1);
    // @include gradientBackground();

    /*Navbar styles on scroll using Js*/
    &.window-scroll{
        background: $white-color;
        box-shadow: 0 1rem 1rem rgba($black-color, 0.1);
        .container{
            button{
                color: $black-color;
            }
 
            a{
                color: $black-color;
    
                & > h3{
                    color: $black-color;
                }
                &.btn{
                    color: $white-color;
                }
            }
        }
    }


    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul{
           display: flex; 
           gap: 3rem;
           align-items: center;
        }

        // Only needed in medium and small devices
        button{
            display: none;
        }

        a{
            Color: $white-color;
            font-weight: 400;
            font-size: .9rem;
        }

        .nav__logo h3{
            color: $white-color;
        }
    }
}


// MEDIA QUERIES (MEDIUM DEVICES) -------------
@media screen and (max-width: 1024px){
    nav{
        .container{
            button{
                display: inline-block;
                background: transparent;
                color: $white-color;
                font-size: 2rem;
                cursor: pointer;

                &#close__nav-btn{
                    display: none;
                }
            }
            ul{
                position: fixed;
                right: 5%;
                top: 5rem;
                flex-direction: column;
                align-items: start;
                gap: 0;
                display: none;
                perspective: 300px;

                li{
                    width: 100%;
                    opacity: 0;
                    animation: flipNavItem 300ms ease forwards;
                    transform-origin: top;

                    &:nth-child(2){
                        animation-delay: 200ms;
                    }
                    &:nth-child(3){
                        animation-delay: 400ms;
                    }
                    &:nth-child(4){
                        animation-delay: 600ms;
                    }
                    &:nth-child(5){
                        animation-delay: 800ms;
                    }

                    @keyframes flipNavItem {
                        0%{
                            transform: rotateX(90deg);
                        }100%{
                            transform:  rotateX(0deg);
                            opacity: 1;
                        }
                    }
                    a{
                        color: $white-color;
                        height: 100%;
                        display: block;
                        padding: 1.5rem 2rem;
                        border-radius: 0;
                        background: linear-gradient($primary-color-varient, darken($primary-color-varient, 12%));
                    };

                    & .btn{
                        background: $secondary-color;
                    }
                }
            }
        }
    }
}